/* The Successful People NEVER quit. */

/* Reference https://getbem.com/ "BEM — is a methodology that helps you to create reusable components and code sharing in front‑end development" */

/*============================= Generic Styles Section (One Size Fits All Section) =============================*/
/* Reference this effect from Dr. Dwight McClure (https://www.quora.com/profile/Dr-Dwight-McClure) & Soaib Haque (https://www.quora.com/profile/Soaib-Haque-1) on quora.com */
/* Initially, my text/objects with this class are hidden. */ 
.hide-me { 
    visibility: hidden; 
    opacity: 1; 
    transition: visibility 0s, opacity 0.5s; 
    text-align: left;
    font-size: larger;
} 
   
/* Using universally; but the idea came from when I was targeting the project's technology/technologies used. This shows my hidden text when it's hovered. Highly Referenced Vista Print's article on this one (https://www.vistaprint.com/hub/branding-colors). */ 
.hover-container:hover .hide-me {
    visibility: visible;
    opacity: 1;
    transition: transform 500ms ease, 
    font-size: 16px;
    margin: 0 12px;
    font-weight: bold;
    background: linear-gradient(to right, orange, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-container2:hover .hide-me {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    max-width: 100%;
    z-index: 3;
    opacity: 0;
    transition: transform 300ms ease, opacity 1ms;
    visibility: visible;
    opacity: 1; 
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, purple, gold, purple, gold, purple, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Using universally; but the idea came from when I was targeting the project's technology/technologies used. */
.getMe {
    font-size: 24px;
    margin: 0 12px;
    font-weight: bold;
    background: linear-gradient(to right, blue, orange, blue, orange, blue, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Choice of font to be utilize. */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Font Style. */
* {
    font-family: 'Lato', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 50px 0px;
}

/* Header Styles. */
h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

.flex {
    display: flex;
}

.flex-1{
    flex: 1;
}

/* Paragraph Style. */
p {
    line-height: 1.5;
    font-size: 16px;
}

/* Default list style (set to none in order to remove the page bullets). */
li {
    list-style: none;
}

/* Navigation Menu Styles. */
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* EXCELLENT For Reusable Code: it does the all of the even sections (2...4...6, etc.) providing a contrast between the sections when hovered over. */
section:nth-child(even) {
    background-image:url('./assets/gif/earth.gif');
    opacity: 0.9;
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

.section__title {
    margin-bottom: 20px;
}
/*=============================================== Specific Styles Section ===============================================*/
/*============ About Me Section. ============*/
/* My Signature Header <h2> */
.about-me__info--subtitle {
    padding: 7px;
    background: linear-gradient(to right, #71713a, #544478);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Look for ID */
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 625px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0, 0.16);
    margin-bottom: 12px;
}

.about-me__picture {
    width: 100%;
    
    /* Zoomed Picture In. */
    transform: scale(1.23);
    padding-bottom: 8px;
    align-items: center;
}

.about-me__info--para {
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 16px;
}

.about-me__links {
    font-size: 20px;
    text-decoration: none;
    padding: 0px 16px;
}

/* Bold and Colored letterimg in Intro. paragraph in "About Me" Section. */
.emph {
    font-weight: 700;
    background: linear-gradient(to right, #71713a, #544478);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emph2 {
    font-weight: 900;
    text-decoration: underline;
    background: linear-gradient(to right, #71713a, #544478);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
}

.about-me__img {
    width: 95%;
    height: 65%;
}

/* Specific Header 1 Style Given.  In the tutorial David Bragg led for us to along with him (pause to do our thing, etc.), so it does not affect any other <h1> tags. */
.h1 {
    font-size: 36px;
}

/*============ Navigation Menu Styles ============*/
/* How the list was made to line up vs. being stack upon one another. */
.nav__link--list {
    display: flex;
}

/* Anchor styles. */
.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

/* Contact Button Style.*/
.nav__link--anchor-primary {
    background: linear-gradient(to right, #71713a, #544478);
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background: rgb(84,68,120);
    background: linear-gradient(90deg, rgba(84,68,120,0.7687861271676301) 18%, rgba(0,0,0,1) 63%);
}

/* I didn't like the name scheme in the personal logo: because I knew that I would confuse this code for my actual logo (later use); therefore, I change the name scheme to avoid a potential naming conflict, and to practice better semantics regarding myself. THIS IS THE BIG NAME OPENING. */
.BIG {
    font-size: 24px;
    margin: 0 12px;
    font-weight: bold;
    background: linear-gradient(to right, #71713a, #544478, #71713a, #544478);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

/* Since David stated we could make this any color that we want, I just went ahead with adding my flare and style. */
.myPreference {
    padding: 7px;
    background: linear-gradient(to right, #544478, #71713a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*============ Tech Stack Section ============*/
/* What I Had To Do, In Order To Counter The Size Depraction, To My Choice of Icons Used (found all over the web, divers libraries regarding links, which may have their own restrictive CSS properties, etc.). */
/* Tech Stack Header. */
.ts1 {
    opacity: 1;
    /* Ref. https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */
    z-index: 7;
    font-size: 32px;
    margin: 0 12px;
    font-weight: 900;
    /* I tried an experiment, and once I saw what it was doing, I then decided to keep going until I was satisfied with the result. */
    background: linear-gradient(to right, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange, whitesmoke, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
border-radius: 45px;
box-shadow: 0px 45px 45px 45px rgba(255, 164, 46, 0.9);
}

.zoom {
  transform: scale(2);
  padding-top: 8px;
}

.zoom2 {
    transform: scale(1.5);
    padding-top: 8px;
}

.zoom3 {
    transform: scale(3);
    padding-top: 8px;
}

.zoom4 {
    transform: scale(-1.5);
    padding-top: 8px;
}

.zoom5 {
    transform: scale(2);
    padding-top: 4px;
    display: inline;
}

.zoom6 {
    transform: scale(1.2);
    padding-top: 12px;
}

.zoom7 {
    transform: scale(1.4);
    padding-top: 12px;
}

.travis {
    font-size: larger;
    transform: scale(1);
    padding-top: 0;
}

.LnT {
    /*opacity: 1;
    font-weight: 900;*/
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.language__tools__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 150px;
    height: 125px; */
    padding-bottom: 25px 16px;
}

.language__tools__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
    /* padding: 12px; */
}

.language__tools__img:hover {
    filter:brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.languages__tools__list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.language__tools__name {
    position: absolute;
    /*display: inline;*/
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
    opacity: 0;
}

.LANGUAGE:hover .language__tools__name {
    transform: scale(1);
    opacity: 1;
}

.cloud {
    position: absolute;
    bottom: 0;
    transform: scale(2);
    transition: all 300ms ease;
    font-size: 24px;
    opacity: 0;
}

.topSpace {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
    opacity: 0;
}

.topSpace:hover .language__tools__name {
    transform: scale(1);
    opacity: 1;
}

.topSpace2 {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    transform: scale(1);
    transition: all 3ms ease;
    font-size: 12px;
    opacity: 0;
}

.ai {
    transform: scale(1);
    transition: all 1ms ease;
    opacity: 1; 
}

.topSpace2:hover .language__tools__name {
    transform: scale(3);
    opacity: 1;
}

/* AI Chatbot Icon I had to make, so that I could include A NEW TECHNOLOGY that I learned within my Tech Stack!  I'm pretty proud of myslef for how it came out; and I am trying to learn a better transition style/way for it to be almost instant/quicker: I want the two different files I save for the AI Chatbot icon to appear as if the robot just suddenly started speaking to you when you hovered over.  What I am most proud of myelf is how I made the "Click Me" work!  If they do not go through all of my projects (because this will be at the end of my stack), then they will see this first (who can't resist pressing buttons and clicking hyperlinks on a site you've already deemed safe). */
.groovy {
    font-size: xx-large;
    background: linear-gradient(to right, #000700, red, #000700, orange,#000700, yellow,#000700, green,#000700, blue,#000700, indigo,#000700, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*============ Project Styles ============*/
/* Projects' Header */
.pj {
    font-size: 32px;
    margin: 0 12px;
    font-weight: bold;
    background: linear-gradient(to right, blue, orange, blue, orange, blue, orange, blue, orange, blue, orange, blue, orange, blue, orange, blue, orange, blue, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Intro paragraph leading to my projects. */
.pCool {
    padding-bottom: 3px;
    font-size: 20px;
    margin: 0 12px;
    font-weight: bold;
    background: linear-gradient(to right, orange, blue, orange, blue, orange, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project {
    margin-bottom: 135px;
}

.project:last-child {
    margin-bottom: 40px;
}

.project__img {
    width: 100%;
    transition: all 300ms ease;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
    z-index: 2;
    transform: translateY(100%);
}

.project:hover .project__wrapper:before {
    transform: translateY(0);
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(2);
    filter: blur(5px);
}

.project__description {
    position: absolute;
    top: 40%;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__list {
    padding-top: 40px;
}


/* I want to target this title individually. */
.pt {
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, orange, white, orange, white, orange, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project__description--title {
    position: relative;
    left: 45%;
    font-size: 40px;
    text-align: center;
}

/* I want to target the projects sub-title. */
.project__description--sub-title {
    position: relative;
    left: 45%;
    padding-bottom: 25px;
    color: #ffeb4b;
    text-shadow: 0 0 22px firebrick, 0 0 80px firebrick,0 0 120px firebrick, 0 0 160px firebrick, 0 0 200px firebrick;
    font-weight: bold;
    background: linear-gradient(to right, orange, white, orange, white, orange, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project__description--tech-stack {
    position: relative;
    left: 35px;
    padding: 16px;
}

.project__description--links {
    position: relative;
    top: 50px;
    margin-right: 20px 0;
    text-decoration: none;
}

.project__description--para {
    text-align: left;
}

.info {
    position: absolute;
    top: 98%;
    right: 2%;
    color: #ffeb4b;
    font-size: 20px;
    text-shadow: 0 0 22px firebrick, 0 0 42px orange, 0 0 62px #ffeb4a, 0 0 52px firebrick, 0 0 72px orange, 0 0 92 #ffeb4a, 0 0 82px firebrick, 0 0 82px orange, 0 0 112px firebrick, 0 0 112px orange, 0 0 142px firebrick, 0 0 142px orange, 0 0 192px firebrick, 0 0 192px orange, 0 0 202px firebrick, 0 0 202px orange;
    -webkit-box-reflect: below 18px linear-gradient(transparent, #000700);
    position: relative;
}

.info2 {
    position: relative;
    top: 50%;
    right: 35px;
    background: linear-gradient(to right, purple, gold, purple, gold, purple, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}